*{
    padding: 10px 20px 10px 20px;
}
.head{
    display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;

}
.btn{
    
    color:#006A50;
    border: #006A50 1px solid;
    border-radius: 8px;
    padding:0px 5px 10px 5px;
    height: 10px;
}

.button{
    background-color: #006A50;
    color: rgb(255, 255, 255);
}
.section-one{
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 800px;
    height: 300px;
}
.section-hero{
    height: 30px;
    width: auto;
}